---
import Helloworld from "@/componets/Helloworld.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-blue_2">
		<h1 class="text-orange">Gabriel Gustavo Lizama May</h1>
		<Helloworld/>
		<img src="img/1686947604898.jpg" height="220px" width="100%" alt="1686947604898">
	</body>
</html>
